.row
  .col-md-12.comment-wrapper id="comment-wrapper-#{comment.id}"
    .row
      .col-md-9.col-sm-9
        .author id="show-comment-#{comment.id}"
          i class="fa fa-user" aria-hidden="true"
          = comment.user.email
        .pl-20.mt-10
          .comment id="comment-#{comment.id}" = comment.body

      .col-md-3.col-sm-3
        .created_at.text-right
          = created_at_format comment
        - if comment.managed_by?(current_user) && comment.editing?
          span.manage_links.pull-right.mt-10
            = link_to edit_comment_path(comment), class: 'edit-comment-link' do
              i class="fa fa-pencil" aria-hidden="true"
            = link_to comment_path(comment), method: :delete, remote: true, data: {confirm: 'Are you sure?'}, class: 'destroy-comment-link' do
              i class="fa fa-times" aria-hidden="true"

    hr