= simple_form_for(comment, remote: true, format: :js) do |f|
  = f.error_notification

  = f.input :body, label: false
  = f.input :post_id, as: :hidden
  = f.input :user_id, as: :hidden, input_html: {value: current_user ? current_user.id : nil}

  .form-actions
    = f.button :submit
