$('#comments_wrapper').append("<%= escape_javascript(render 'comment', comment: @comment) %>");
$('#comment_body').val("");
$('.alert-danger').remove();
$('.has-error').removeClass('has-error');
$('.help-block').remove();
