- content_for :header do
  | Editing comment

= link_to post_path(@comment.post, {anchor: "show-comment-#{@comment.id}"}) do
  i class="fa fa-long-arrow-left" aria-hidden="true"
  '
  | show post

#comment_form_wrapper.mt-20
  = render 'form', comment: @comment