@import "../global/colors"

.published-icon
  width: 7px
  height: 7px
  display: inline-block
  border-radius: 50%
  &.yes
    background: green
  &.no
    background: red
#tags
  .visible-tag
    padding: 5px 25px 5px 5px
    border: 1px solid #ccc
    border-radius: 3px
    margin-right: 5px
    display: inline-block
    margin-bottom: 15px
    position: relative
    .fa-times
      position: absolute
      top: 8px
      right: 8px
      color: #ccc
      cursor: pointer
      &:hover
        color: #8c8c8c
.tag
  float: left
  &.tag_template
    display: none

#tag_cloud
  a
    margin-right: 5px
    color: #ADADAD
    display: inline-block
  .css1
    font-size: 1.0em
  .css2
    font-size: 1.2em
  .css3
    font-size: 1.4em
  .css4
    font-size: 1.6em

.post-wrapper, .comment-wrapper
  .fa-user
    color: $grey
    margin-right: 10px
    position: absolute
    top: 2px
    left: 0px
  .author
    position: relative
    padding-left: 20px
  .post-body
    margin-top: 10px
    margin-bottom: 10px
  .created_at, .published
    color: $grey
    font-size: 12px
    margin-top: 2px
  .published
    font-size: 13px
    margin-top: 14px
    position: relative
    padding-right: 16px
    .fa-check-square-o
      color: green
    .fa-square-o
      color: red
    .fa
      position: absolute
      top: 3px
      right: 0px
  .destroy-link, .edit-link
    margin-left: 10px
  .manage_links a
    margin-left: 10px

#show-post-wrapper
  margin-top: 30px
  .created_at
    font-size: 13px
    margin-top: 10px
    color: $grey

.related_post
  font-size: 14px
  margin: 10px 0px