= simple_form_for(@post) do |f|
  = f.error_notification

  = f.input :body, label: 'Text'

  / редактирование
  - if @post.persisted?
    / смена даты создания
    = f.input :created_at, as: :datetime
  - else
    / создание
    .form-group.boolean
      div class="checkbox"
        label class="boolean optional" for="without_publication"
          input class="boolean optional" type="checkbox"  id="without_publication" onclick="Blog.posts.switchPublished($(this), $('#post_published'));" Without publication

  / при создании можно выставить "не публиковать" чек боксом выше (этот будет скрыт)
  / при редактировании можно поставить галку - "Опубликованный", если еще не опублкован (показываем чекбокс)
  = f.input :published, as: ((@post.persisted? && !@post.published) ? :boolean : :hidden), input_html: {checked: @post.published}

  = render 'tags', f: f

  .form-actions
    = f.button :submit