.row
  .col-md-12.post-wrapper id="post-#{post.id}"
    .row
      .col-md-9.col-sm-9
        .author
          i class="fa fa-user" aria-hidden="true"
          = post.user.email
        .pl-20
          .post-body = post.body.truncate(300)

      .col-md-3.col-sm-3
        .created_at.text-right
          = created_at_format post
        - if it_is_my_posts_list
          .text-right.published
            span
              'Published:
              i.fa class="#{post.published ? 'fa-check-square-o' : 'fa-square-o'}" aria-hidden="true"

    .row
      .col-md-12
        span.pl-20 = link_to 'Show more', post

        - if post.managed_by?(current_user)
          span.action_links.pull-right
            = link_to edit_post_path(post), class: 'edit-link' do
              i class="fa fa-pencil" aria-hidden="true"
            = link_to post, method: :delete, id: "delete-#{post.id}", data: {confirm: 'Are you sure?'}, class: 'destroy-link' do
              i class="fa fa-times" aria-hidden="true"
    hr