#tags_wrapper
  .form-group.string.optional.post_tag_list
    label.string.optional.control-label Tag list
    #tags
      - @post.tag_list.each_with_index do |tag, i|
        .tag
          input name="post[tag_list][]" value="#{tag}" type="hidden"
          span class="visible-tag"
            span = tag
            i class="fa fa-times" aria-hidden="true" onclick="Blog.posts.deleteTag($(this));"

    .tag.tag_template
      input name="post[tag_list][]"  type="hidden"
      span class="visible-tag"
        span
        i class="fa fa-times" aria-hidden="true" onclick="Blog.posts.deleteTag($(this));"

  .clearfix
  / видимое поле ввода новых тэгов
  = f.input :tag_list, input_html: {id: 'enter_tag', name: '', value: '', placeholder: 'Type word and press Enter'}, label: 'Add new tag'
