- content_for :header do
  = it_is_my_posts_list ? 'My Posts' : 'Posts'

  - if it_is_my_posts_list
    = link_to new_post_path, class: 'btn btn-primary btn-header' do
      span.glyphicon.glyphicon-plus
      |  New Post

- if @posts.any?
  - if !it_is_my_posts_list && @tags.any?
    = render 'shared/tag_cloud', tags: @tags

  .mt-35
  = render @posts
- else
  p No posts

= paginate @posts, :theme => 'twitter-bootstrap-3'