- content_for :header do
  | Show post

  - if current_user && (current_user.id == @post[:user_id].to_i)
    = link_to edit_post_path(@post), class: 'btn btn-primary btn-header', id: 'edit-post-link' do
      span.glyphicon.glyphicon-pencil
      |Edit post

- if @tags.any?
  = render 'shared/tag_cloud', tags: @tags

.row#show-post-wrapper
  .col-md-9.col-sm-9
    h4 Post:
    em id="post-#{@post.id}" = @post.body
  .col-md-3.col-sm-3
    p.created_at.text-right = created_at_format @post


h4.mt-30 Comments:
hr

#comments_wrapper
  = render template: 'comments/index', locals: {comments: @comments}

.mt-40

- if @post.published
  #comment_form_wrapper
    = render 'comments/form', comment: @comment
- else
  p You can't add comments to unpublished post.

- if @related_posts.length > 0
  #tag_cloud.mt-40
    h4
      'Related posts:
      ul
      - @related_posts.each do |post|
        li.related_post = link_to post.body.truncate(120), post_path(post), id: "related-post-#{post.id}"